.propertyCard{
    box-shadow: -1px -1px 20px 2px rgba(0,0,0,0.53);
    -webkit-box-shadow: -1px -1px 20px 2px rgba(0,0,0,0.53);
    -moz-box-shadow: -1px -1px 20px 2px rgba(0,0,0,0.53);
    margin-bottom: 50px;
    cursor: pointer;
    width: 250px;
}

.propertyImg{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.propertyText{
    margin-left: 10px;
}


.propertyText h5{
    margin-bottom: 0px;
    font-size: 18px;
    color: rgb(80, 79, 79);
}

.propertyText p{
    font-weight: 500;
    color: grey;
}


@media(max-width: 992px){
    .propertyCard{
        width: 320px;
    }
}