.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    text-transform: uppercase;
    align-items: center;
    flex-wrap: wrap;
}

.brand{
    font-size: 30px;
    color: blue;
    text-decoration: none;
}

.authBtn{
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 10px;
    cursor: pointer;
}

.backButton{
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
}